NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=https://uxmcvfxiapuwyxehksnq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4bWN2ZnhpYXB1d3l4ZWhrc25xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMzMxMzEsImV4cCI6MjA5ODkwOTEzMX0.QxoI759ts6RrCA5n72zTcXLsOTMOj6BefMrbf7PRZdA
